@import "~@fontsource/poppins/index.css";
@import '~bootstrap/scss/bootstrap.scss';

body{
  font-family: "Poppins";
  color: white;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.mg_btn{
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 12px;
}
.mg_line{
  width: 50px;
  border: 3px solid #fff941;
  margin: 20px 0;
}